.product__item {
  img {
    width: 100%;
  }
  .product__info {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    h5 {
      @include styeText(1.25rem, 600, $white-color);
      background-color: rgba(255, 255, 255, 0.27);
      line-height: 28px;
      padding: 6px;
      margin: 20px;
    }
  }
  position: relative;
  overflow: hidden;
  z-index: 99;
  &::after {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-17deg);
  }
  &:hover::after {
    transition: all 1s;
    left: 120%;
  }
}
