$theme-color: #e40000;
$primary-color: #fb811e;
$primary-light: #fcf1e7;
$primary-dark: #ffc945;
$secondary-color: #009f4d;
$font-color: #707070;
$bg-color: #fff;
$white-color: #fff;
$heading-color: #060606;
$footer-color: #060e1f;
$footer-cpy-color: #040a17;
$border-radius: 30px;
$border-radius-full: 15px;
$border-color: transparent;
$border-color-light: #eee;
$iframe-filter: grayscale(0%);
$bg-grey: #f4f4f4;
$bg-light: #fafafa;
$bg-dark-color: #fff;
$quote-text-color: #1d2c4c;
$icon-gra-color: linear-gradient(75deg, #1c2e7b 0.1, #e60264);
$shadow-color: rgba(0, 0, 0, 0.03);
$box-shadow: rgba(0, 0, 0, 0.41);



@mixin styeText($fsize,$fweight,$color) {
    font-size: $fsize;
    font-weight: $fweight;
    color: $color;
    padding: 0;
    margin: 0;
}